@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f1f1;
}

.active2 {
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  font-family: "Ubuntu", sans-serif;
}
.active {
  transition: 1s;
  transform: scale(1.2);
  border-color: #2563eb;
}
